# Entornos virtuales
venv/
env/
.venv/

# Archivos sensibles
accesosDB.json
accesosDB.toml
datos.csv
app.py.bak

# Configuración de Streamlit
.streamlit/secrets.toml
.streamlit/secrets.json
.streamlit/accesosDB.json
# Archivos de caché y logs
__pycache__/
